{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Вход</h1>
</div>
<div class="card form-card">
  {% if form.errors %}<div class="alert alert-error">Неверный логин или пароль.</div>{% endif %}
  <form method="post" action="{% url 'login' %}">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="actions-row">
      <input type="submit" value="Войти" class="button">
      {% comment %} <a href="{% url 'student_registration' %}" class="btn btn-secondary">Регистрация</a> {% endcomment %}
    </div>
  </form>
</div>
{% endblock %}